*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-icon-container{
    width: 100%;
    margin-top: -40px;
}

.hero-icon-div{
    width: fit-content;
    height: fit-content;
    border: 1px solid #FFE0E0;
    background-color: #FFE0E0;
    border-radius: 25px;
    padding: 6px 10px;
    margin: 20px;
}

.hero-icon{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Query */
@media screen and (max-width: 975px){
    .hero-icon-container{
        margin: 10px 0;
        justify-content: space-between;
        padding: 20px;
    }

    .hero-icon-div{
        margin: 5px;
    }
}